/* Add CSS for styling here */

/* Improved header styles */
header {
    background-image: url('background.jpg');
    background-size: cover;
    color: #db7878;
    text-align: center;
    padding: 150px 0;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
}
/* Add this to your portfolio.css file */
#about {
    background-color: #f4f4f4; /* Change this to the desired background color or image */
    padding: 20px; /* Adjust the padding as needed */
}



/* Improved navigation styles */
/* Add this to your portfolio.css file */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px; /* Adjust the spacing between navigation items */
}

nav a {
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding to control the size of the clickable area */
    color: #333; /* Default text color */
    background-color: #fff; /* Default background color */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #3498db; /* Change to your desired hover background color */
    color: #fff; /* Change to your desired hover text color */
}


/* Improved project styles */
.project {
    margin: 20px;
    padding: 20px;
    border: 1px solid #f4eeee;
    background-color: #f4f0f0;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project:hover {
    transform: scale(1.05); /* Scale up the element on hover */
}

.project img {
    max-width: 100%;
    height: 200px;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

/* Improved footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
